<div class="card border-dark">
  <div class="card-header bg-dark text-white text-center">
    Buscar Pelicula
  </div>
  <form>
    <div class="card-body text-dark">
      <div class="form-group">
        <label>Nombre: </label>
        <input type="text" class="form-control form-control-lg" name="name" placeholder="Nombre de la Pelicula" required>
      </div>
      <div class="form-group">
        <label>Calidicación: </label>
        <input type="text" class="form-control form-control-lg" name="quali" placeholder="Calidicación de la Pelicula" required>
      </div>
      <div class="form-group">
        <label>País: </label>
        <input type="text" class="form-control form-control-lg" name="pais" placeholder="País de la Pelicula" required>
      </div>
      <div>
        <button  type="button" class="btn btn-outline-dark mb-3 float-right">
          Enviar
        </button>
        <button  type="button" class="btn btn-outline-dark mb-3 float-left">
          Enviar
        </button>
      </div>
    </div>
  </form>
</div>
