<!--nabvar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand"  routerLink="/home">
    <img src="assets/img/clapperboard.png" width="30" height="30" alt="">
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item " routerLinkActive="active">
        <a routerLink="/home" [routerLink]="['home']" class="nav-link">Home</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a routerLink="/modulo1/lista" [routerLink]="['modulo1/lista']" class="nav-link">Lista</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a routerLink="/modulo1/buscar" [routerLink]="['modulo1/buscar']" class="nav-link">Buscar</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a routerLink="/modulo2/agregar" [routerLink]="['modulo2/agregar']" class="nav-link">Agregar</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a routerLink="/modulo2/top" [routerLink]="['modulo2/top']" class="nav-link">Top</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container main-container">
    <router-outlet></router-outlet>
</div>
<app-footer></app-footer>
