body{
  padding-bottom: 50px;
}

.jumbotron{

  background: #0f0c29;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

img{
  border-radius: 5px;
}

.main-container{
  margin-top: 20px;
}

footer{
  color: white;
  position: fixed;
  bottom: 0px;
  width: 100%;
}


/* You can add global styles to this file, and also import other style files */
